@model AplikacjaHodowcy.Models.Konkurs

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>

<h1>Dodaj konkurs</h1>

<form asp-action="Create" method="post" id="konkursForm">
    <div class="form-group">
        <label>Type:</label>
        <select id="typeSelect" class="form-control" name="Type">
            <option value="Krajowy">Krajowy</option>
            <option value="Miedzynarodowy">Międzynarodowy</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Nazwa:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Opis:</label>
        <textarea asp-for="Desription" class="form-control"></textarea>
        <span asp-validation-for="Desription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="photoFile">Wybierz plik</label>
        <input type="file" class="form-control-file" id="photoFile" name="PhotoFile" onchange="updatePhotoPath(this)">
        <span asp-validation-for="PhotoPath" class="text-danger"></span>
    </div>
    <input type="hidden" id="photoPath" name="PhotoPath">

    <div id="additionalFields"></div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

<div>
    <a asp-action="Index" class="custom-link">Wróć do listy</a>
</div>

@section Scripts {
}
