@model AplikacjaHodowcy.Models.Konkurs

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>

<h1>Edytuj</h1>

<h4>Wystawa</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desription" class="control-label"></label>
                <textarea asp-for="Desription" class="form-control"></textarea>
                <span asp-validation-for="Desription" class="text-danger"></span>
            </div>
    <div class="form-group">
        <label for="photoFile">Wybierz plik</label>
        <input type="file" class="form-control-file" id="photoFile" name="PhotoFile" onchange="updatePhotoPath(this)">
        <span asp-validation-for="PhotoPath" class="text-danger"></span>
    </div>
    <input type="hidden" id="photoPath" name="PhotoPath">
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="form-group row-height-half">
            <img id="PhotoPath" class="details" style="top: 20px;" src="~/Images/@Model.PhotoPath" alt="Image" />
            <input type="hidden" id="photoPath" name="PhotoPath" />
        </div>
    </div>
</div>






<div>
    <a asp-action="Index" class="custom-link">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


