@{
    ViewData["Title"] = "Strona Główna";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Frosty Paws Nest</h1>
        <p class="welcome-heading">Witaj w naszej hodowli!</p>

        <div class="photo-container">
            <img src="/images/paws.png" alt="Husky Gang" class="photo" style="top: 213px; left: -350px; transform: rotate(-3deg);">
            <img src="/images/owner.png" alt="Husky Gang" class="photo" style="top: -100px; left: -350px; transform: rotate(2deg);">
            <img src="/images/husky_gang.png" alt="Husky Gang" class="photo" style="top: 5px; left: 50px; transform: rotate(-2deg);">
            <img src="/images/malamute.png" alt="Another Photo" class="photo" style="top: -30px; left: 380px; transform: rotate(5deg);">
            <img src="/images/flor.png" alt="Another Photo" class="photo" style="top: 215px; left: 350px; transform: rotate(-2deg);">
            <img src="/images/red.png" alt="One More Photo" class="photo" style="top: 50px; left: 850px;">
            <img src="/images/puppy.png" alt="One More Photo" class="photo" style="top: -100px; left: 1050px; transform: rotate(10deg);">
        </div>
    </div>

</body>
</html>
