@{
    ViewData["Title"] = "Strona Główna";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to top, #001f3f, #a3f7bf);
            color: navy;
        }

        .display-4 {
            font-family: 'Your Custom Font', sans-serif;
            font-weight: bold;
            color: navy;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Frosty Paws Nest</h1>
        <p>Witaj w naszej hodowli!</p>
    </div>

</body>
</html>
