@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
</head>
<body>
    <p>
        Nazwa hodowli: <strong>Frosty Paws Nest</strong><br>
        Adres: ul. Kwiatowa 12, 00-000 Miastowo<br>
        Telefon: <a href="tel:+48123456789">+48 123 456 789</a><br>
        E-mail: <a href="mailto:kontakt-frostypawsnest@gmail.com">kontakt-frostypawsnest@gmail.com</a><br>
        Strona internetowa: <a href="http://www.frostypawsnestDogs.com" target="_blank">www.frostypawsnestDogs.com</a>
    </p>

    <p><u>Zapytania o szczeniaki prosimy kierować pod adres mailowy bądź telefonicznie na wyżej podany numer telefonu.
                    Nie odpowiadamy na sms-y.</u>
    </p>
</body>
</html>



