
body {
    background: linear-gradient(to top, #001f3f, #a3f7bf);
    color: navy;
}

.display-4 {
    font-family: 'Custom Font', lexend;
    font-weight: bold;
    color: navy;
}

.navbar-custom {
    background-color: navy;
    color: white; 
    width: 100%;
}

.welcome-heading {
    font-size: 24px;
}

.photo-container {
    position: relative;
    margin-top: 50px;
}

.photo {
    max-width: 450px;
    max-height: 450px;
    border: 2px solid #fff;
    position: absolute;
}

.small-image {
    max-width: 30px; /* Maksymalna szerokość obrazka */
    height: auto; /* Automatyczna wysokość dla zachowania proporcji */
    margin-left: 20px; /* Dostosuj marginesy według preferencji */
    max-height: 30px; /* Maksymalna wysokość obrazka */
}

.table-container {
    overflow-y: auto;
    max-height: 630px; /* Ustaw maksymalną wysokość kontenera */
}

.table-header {
    position: sticky; /* Ustawia nagłówek na "sticky" */
    top: 0; /* Ustawia nagłówek na górze widoku */
    z-index: 1000; /* Ustawia nagłówek na najwyższym poziomie z-index */
    padding: 10px; /* Dodaje odstęp od góry */
    color: black;
    background-color: #808080;
}

.table-color {
    background-color: #ff6a00;
}

.header-create {
    display: flex;
    align-items: center; /* Wyrównaj elementy w pionie */
}

    .header-create .add-create {
        margin-left: 10px; /* Dodaj odstęp między napisem a linkiem */
        font-size: 0.60em;
    }


.details {
    background-repeat: no-repeat;
    width: auto;
    height: 300px;
    float: right;
    margin-left: 10px;
    border: 3px solid black;
    position: relative;
    top: -50px;
}

.backContainer {
    text-align: left 10px; /* Wyśrodkowanie elementów w poziomie */
    position: sticky; /* lub fixed, w zależności od preferencji */
    top: 20px; /* Odległość od górnej krawędzi strony */
    z-index: 999; /* Zapewnia, że linki będą zawsze na wierzchu */
    padding: 10px; /* Dodatkowy odstęp, aby linki były czytelniejsze */
}

