@model AplikacjaHodowcy.Models.Szczeniak

@{
    ViewData["Title"] = "Create";
}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/mainLayout.css">

<h1>Usuń</h1>

<h4>Szczeniak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control form-control-plaintext" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control form-control-plaintext" readonly />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control form-control-plaintext" readonly />
            </div>
            <div class="form-group">
                <label asp-for="LiniaId" class="control-label"></label>
                <input asp-for="LiniaId" class="form-control form-control-plaintext" readonly />
            </div>

            <div class="form-group">
                <label asp-for="MiotId" class="control-label"></label>
                <input asp-for="MiotId" class="form-control form-control-plaintext" readonly />
            </div>

            <div class="col-md-12 btn-group pb-2">
                <div class="form-group col-4 p-0">
                    <label asp-for="PuppyPhoto" class="control-label"></label> 
                    <img id="PuppyPhoto" src="~/images/@Model.PhotoUrl" alt="Logo Image" 
                    width="125" height="125"/>
                        
                </div>
                <div class="col-1 p-0">
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Usuń" class="btn btn-primary"/>

            </div>

            <div class="form-group pt-0 mt-0">
                <div ID="HiddenDiv" style="visibility: hidden;">
                <input asp-for="PhotoUrl" id="PhotoUrl form-control-plaintext" readonly />
                </div>
            </div>
            </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="custom-link">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <!-- ajax call jako funkcja -->
    <script type="text/javascript">

    </script>

}
