@model AplikacjaHodowcy.Models.Szczeniak

@{
    ViewData["Title"] = "Create";
}


<h1>Details</h1>

<h4>Szczeniak</h4>
<hr />
<div class="row">
    <div class="col-md-4">

            <input type="hidden" asp-for="Id"/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control form-control-plaintext" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control form-control-plaintext" readonly />
            </div>
            <div class="form-group">
                <label asp-for="LiniaId" class="control-label"></label>
            <input asp-for="@Model.Miot.Linia.Nazwa" class="form-control form-control-plaintext" readonly />
            </div>

            <div class="form-group">
                <label asp-for="MiotId" class="control-label"></label>
            <input asp-for="@Model.Miot.NazwaMiotu" class="form-control form-control-plaintext" readonly />
            </div>

            <div class="col-md-12 btn-group pb-2">
                <div class="form-group col-4 p-0">
                    <label asp-for="PuppyPhoto" class="control-label"></label> 
                    <img id="PuppyPhoto" src="~/images/@Model.PhotoUrl" alt="Logo Image" 
                    width="125" height="125"/>
                        
                </div>
                <div class="col-1 p-0">
                </div>
            </div>


            <div class="form-group">
        @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            }
            </div>

            <div class="form-group">
                <a class="btn btn-primary" asp-action="Book"> </a>
            </div>

            <div class="form-group pt-0 mt-0">
                <div ID="HiddenDiv" style="visibility: hidden;">
                <input asp-for="PhotoUrl" id="PhotoUrl form-control-plaintext" readonly />
                </div>
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <!-- ajax call jako funkcja -->
    <script type="text/javascript">

    </script>

}
